<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
	
	<head th:replace="~{frags/frags :: pageHead('New deal')}" />
  
  <body>
		
		<header th:replace="~{frags/frags :: header}"></header>
		
		<div class="container">
			
			<h1 class="text-center">New offer for pizza [[${pizza.name}]]</h1>
			
			<form method="post" th:object="${deal}">
				
				<div class="my-4">
					<div class="d-flex align-items-center gap-3">
						<label for="title" class="w-25">Title: </label>
						<input type="text" name="title" id="title" minlength="3" maxlength="100" placeholder="Type the title..." th:field="*{title}" required>
					</div>
					<ul th:if="${#fields.hasErrors('title')}" class="alert alert-danger list-unstyled mt-2">
						<li th:each="error : ${#fields.errors('title')}">[[${error}]]</li>
					</ul>
				</div>
				
				<div class="my-4">
					<div class="d-flex align-items-center gap-3">
						<label for="startDate" class="w-25">Start date: </label>
						<input type="date" name="startDate" id="startDate" placeholder="Type the start date..." th:field="*{startDate}" required>
					</div>
					<ul th:if="${#fields.hasErrors('startDate')}" class="alert alert-danger list-unstyled mt-2">
						<li th:each="error : ${#fields.errors('startDate')}">[[${error}]]</li>
					</ul>
				</div>
				
				<div class="my-4">
					<div class="d-flex align-items-center gap-3">
						<label for="endDate" class="w-25">End date: </label>
						<input type="date" name="endDate" id="endDate" placeholder="Type the end date..." th:field="*{endDate}" required>
					</div>
					<ul th:if="${#fields.hasErrors('endDate')}" class="alert alert-danger list-unstyled mt-2">
						<li th:each="error : ${#fields.errors('endDate')}">[[${error}]]</li>
					</ul>
				</div>
				
				<br />
				
				<button class="btn btn-outline-dark" type="submit">Insert</button>
				
			</form>
			
		</div>
    
  </body>
  
</html>
